.resume {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 900px;
  color: var(--black-900);

  &__btn {
    padding: 4px 10px;
    box-sizing: border-box;
  }

  &__btn-type-contact {
    padding: 0px 10px;
    background-color: var(--white);
  }

  &__btn-type-action {
    padding: 0px 10px;
    background-color: var(--white);
  }

  &__btn-type-action:hover {
    background-color: var(--blue-main);
    color: var(--white);
  }

  &__btn-type-contact:hover {
    background-color: var(--blue-main);
    color: var(--white);
  }

  &__header {
    display: flex;
    gap: 32px;

    &_left {
      display: flex;
      flex-direction: column;
    }

    &_right {
      display: flex;
      flex-direction: column;
      gap: 0;
      flex: 1;
    }
  }

  &__badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__contacts {
    display: flex;
    gap: 12px;
  }

  &__attachments {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }

  &__title {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--black-100, #dde0e4);
    margin-bottom: 32px;
  }

  &__list {
    margin: 0;
    padding-left: 25px;
  }

  &__list-item {
    color: var(--black-900, #1a1b22);
    /* Текст/Body1_Regular */
    font-family: YS Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_accent {
      gap: 8px;
    }
  }

  &__text_accent {
    color: var(--black-500, #797981);
    // /* Подзаголовки/Subtitle_Regular */
    // font-family: "YS Text";
    // font-size: 18px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 24px; /* 133.333% */
  }

  &__btn-group {
    display: flex;
    gap: 16px;
  }

  &__wrapper_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
  }
}
